footer.site-footer
	p.site-footer__text Це тестовий сайт, реалізований в навчальних цілях. Зворотній зв'язок: Memos.dan.it@gmail.com
	p.site-footer__text Репозиторій: #[a(href="https://github.com/Saribeg/Memos") GitHub]

	