extends layouts/layout.pug

block title
	<title>Memos</title>

block content

	<div class="logo">
		<img src="../img/logo.png" alt="Image Not Found" class="logo__img">
	</div>

	<div class="site-description">
		<p> <span class="colored red">Зберігайте </span><span class="colored  blue">яскраві </span> <span class="colored orange">нотатки </span> <span class="colored green">зі смаком </span><span class="colored violet">в надійному місці </span></p>
	</div>

	include messages.pug

	<form class="sign-in-form" method="POST" action="/users/login">
		<div class="form-row">
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Введіть Ваш логін" name="username" required>
			</div>
			<div class="col-sm-6">
				<input type="password" class="form-control" placeholder="Введіть Ваш пароль" name="password" required>
			</div>
		</div>
		<button type="submit" class="btn btn-success sign-in-button">Увійти</button>
	</form>

	<a href="/users/register" class="registration-link">Зареєструватись</a>





