<div class="container">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<div id="chosen-color"></div>
					<h4 class="modal-title w-100 font-weight-bold">Нова нотатка</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" id="form" class="was-validated" name="memoCreateForm">
					<div class="modal-body mx-3">
						<div class="md-form mb-3">
							<label data-error="wrong" data-success="right" for="memoTitle">Заголовок</label>
							<input type="text" id="memoTitle" class="form-control validate" name="title" required>
						</div>
						<div class="md-form mb-3">
							<label data-error="wrong" data-success="right" for="memoDescription">Текст замітки</label>
							<textarea type="text" id="memoDescription" class="md-textarea form-control" rows="4" name="description"></textarea>
						</div>

						<p class="link-heading">Додати лінки</p>
						<div class="memo-links-wrapper">
							
						</div>

						<p class="list-heading">Додати список</p>
						<div class="memo-list-wrapper">
							
						</div>
						<i class="fas fa-link mt-2 memo-link-show" data-toggle="tooltip" data-placement="right" title="Додати лінки"></i>
						<i class="fas fa-list ml-3 memo-list-show" data-toggle="tooltip" data-placement="right" title="Додати список"></i>
						<i class="fas fa-plus mt-2 memo-link-add" data-toggle="tooltip" data-placement="right" title="Додати лінки"></i>
						<i class="fas fa-plus mt-2 memo-list-add" data-toggle="tooltip" data-placement="right" title="Додати в список"></i>
						<div class="md-form mb-2 mt-3">
							<label data-error="wrong" data-success="right" for="memoDate">Строк</label>
							<input type="date" id="memoDate" class="form-control validate" name="date">
						</div>
					</div>
					<div class="modal-footer d-flex justify-content-between modal-actions">
						<div class="modal-action-icons">
							//- <a class="memo-colors-popover" data-toggle="popover" data-container="body" data-placement="right" type="button" data-html="true" href="#" id="change-color"><i class="fas fa-palette"></i></a>
							<div class="memo-colors-wrapper" id="modal-memo-colors-wrapper">
								<div class="modal-memo-colors">
									<input type="radio" name="ColorGroup" value="memo-red" id="memo-red" class="radios"/>
									<label class="memo-red" for="memo-red"><i class="fas fa-check"></i></label>
									<input type="radio" name="ColorGroup" value="memo-green" id="memo-green" class="radios"/>
									<label class="memo-green" for="memo-green"><i class="fas fa-check"></i></label>
									<input type="radio" name="ColorGroup" value="memo-orange" id="memo-orange" class="radios"/>
									<label class="memo-orange" for="memo-orange"><i class="fas fa-check"></i></label>
									<input type="radio" name="ColorGroup" value="memo-blue" id="memo-blue" class="radios"/>
									<label class="memo-blue" for="memo-blue"><i class="fas fa-check"></i></label>
									<input type="radio" name="ColorGroup" value="memo-yellow" id="memo-yellow" class="radios"/>
									<label class="memo-yellow" for="memo-yellow"><i class="fas fa-check"></i></label>
									<input type="radio" name="ColorGroup" value="memo-violet" id="memo-violet" class="radios"/>
									<label class="memo-violet" for="memo-violet"><i class="fas fa-check"></i></label>
									<input type="radio" name="ColorGroup" value="memo-light-blue" id="memo-light-blue" class="radios"/>
									<label class="memo-light-blue" for="memo-light-blue"><i class="fas fa-check"></i></label>
									<input type="radio" name="ColorGroup" value="memo-brown" id="memo-brown" class="radios"/>
									<label class="memo-brown" for="memo-brown"><i class="fas fa-check"></i></label>
									<input type="radio" name="ColorGroup" value="memo-white" id="memo-white" class="radios"/>
									<label class="memo-white" for="memo-white"><i class="fas fa-check"></i></label>
								</div>
							</div>
							<a href="#" id="change-modal-color"><i class="fas fa-palette"></i></a>
							<a href="#"><i class="fas fa-image"></i></a>
						</div>
						<button type="submit" class="btn btn-success" id="save-memo">Зберегти</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
