#nav-bar{
	position: fixed;
	z-index: 2;
	width: 100%;
	background-color: #ffffff;
}

.nav{
	position: relative;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #00c800;
}

.nav::after{
	content: "";
  background: url(../img/home-bgc.jpg);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
	background-size: cover;
	background-position: center center;
}

.nav-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 15px;
	transition: all 0.4s ease;
	color: #000000;
}

.nav-item:last-child{
	padding-right: 0;
}

.nav-item:hover{
	color: #ff9700;
}

.fas, .far {
	font-size: 30px;
	font-weight: 900;
}

.nav-icon-description{
	font-weight: 700;
}

.logo__img{
	width: 200px;
	height: 61px;
}

.logout{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #000000;
	transition: all 0.4s ease;
}
.logout:hover{
	color: #ff9700;
	text-decoration: none;
}

.content{
	position: relative;
	width: 100%;
	min-height: 100vh;
	border: 1px solid transparent;
	padding: 5px;
}

.content::after{
	content: "";
  background: url(../img/home-bgc.jpg);
  opacity: 0.08;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
	background-size: cover;
	background-position: center center;
}

.memos, .archived-memos{
	margin-top: 120px;
	padding: 0 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card{
	min-width: 18rem; 
	max-width: 35rem;
}

.memo{
	margin: 5px;
}

.card-body{
	width: 100%;
}


.card-links-container {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.card-links-list{
	list-style-image: url(../img/list-mark.png);
}

.card-links-heading{
	padding-left: 1.25rem;
}


.memo-date{
	width: 100%;
	background-color: transparent;
	padding: 0.35rem 1.25rem;
}

.memo-date small {
	color: #000000;
}



.memo-actions-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.memo-actions-list button{
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

.memo-actions-list button:hover{
	outline: none;
}

.modal-action-icons a{
	color: #000000;
}

.memo-actions-list .fas{
	font-size: 20px;
}

.modal-action-icons .fas{
	margin-right: 10px;
	cursor: pointer;
}

.modal-action-icon{
	border: none;
	outline: none;
	background: none;
}

.modal-memo-colors {
	width: 120px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.modal-memo-colors label{
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
}

.modal-memo-colors label .fas {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
	line-height: 30px;
	
}

.modal-memo-colors input[type=radio]{
	display: none;
}

.modal-memo-colors input[type=radio]:checked + label .fas{
	display: block;
}

#chosen-color{
	width: 50px;
	height: 40px;
	border-radius: 10px;
}

.memo-link-add, .memo-link-delete, .memo-link-show, .memo-list-show, .memo-list-add, .memo-list-delete {
	font-size: 20px;
	cursor: pointer;
}

/* .form-check-input:checked + .form-check-label{
	text-decoration:line-through;
	text-decoration-color: #515050;
} */

/*Checkbox*/

.form-check{
	padding-left: 0;
}

.hidden-box{
	display: none;
}

.list-label{
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.list-label__box{
	display: flex;
  align-self: center;
  position: relative;
  height: 17px;
  width: 17px;
  margin: 0;
  border: 1.5px solid #171818;
  border-radius: 2px;
	cursor: pointer;
}

.list-label__text{
	display: flex;
  align-self: center;
  position: relative;
  cursor: pointer;
  padding: 2px 0 2px 10px;
}

.list-label__text:after{
	content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
	left: 10px;
  -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
  transition: width 0.4s ease-in-out;
}

.hidden-box:checked + .list-label .list-label__box:after{
	content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
  width: 5px;
	height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hidden-box:checked + .list-label .list-label__text:after{
	width: 100%;
}

.memo-list-content[data-checked="true"]{
	text-decoration: line-through;
	background-color: #faf9f9;
}

#create-new-memo-modal, #go-to-main-page{
	position: relative;
}

#create-new-memo-modal:before, #go-to-main-page:before{
	content: attr(data-actualmemos);
	display: block;
	position: absolute;
	top: -5px;
	right: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #02af02;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
}

#show-archived-memos{
	position: relative;
}

#show-archived-memos:before{
	content: attr(data-archivememos);
	display: block;
	position: absolute;
	top: -5px;
	right: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #02af02;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
}

#user-name{
	padding: 0;
	margin: 0;
	font-size: 13px;
	font-weight: 600;
	text-decoration: none;
	color: #00c800;
	padding-left: 20px;
}

.nav-item:hover a #user-name{
	color: #ff9700;
}

.nav-item:hover a{
	text-decoration: none;
}

.modal-open{
	overflow: auto;
	padding: 0 !important;
}

.modal-dialog {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

/* ========================== Мобильное меню и адаптивность ========================== */

.burger-menu{
	display: none;
	cursor: pointer;
}

.hamburger:focus{
	outline: none;
}


#main-mobile-menu{
	display: none;
	position: relative;
	width: 100%;
}

#main-mobile-menu:after{
	content: "";
	background-image: url('../img/home-bgc.jpg');
	opacity: 0.1;
	top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
	background-size: cover;
	background-position: center center;
}

.main-mobile-menu-list{
	width: 100%;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.mobile-nav-item{
	display: flex;
	align-items: center;
	height: 100px;
	width: 100%;
	padding-left: 20px;
	border-bottom: 1px solid gray;
	cursor: pointer;
	transition: all 0.4s ease;
}

.mobile-nav-item:hover{
	background-color: rgba(241, 240, 240, 0.3);
	color: #ff9700;
}

.mobile-nav-item:hover .fas{
	color: #ff9700;
}

.mobile-nav-item:hover .mobile-nav-icon-description{
	color: #ff9700;
}

.mobile-nav-item .fas {
	font-size: 35px;
	color: #000000;
	transition: all 0.4s ease;
}

.logout-mobile{
	display: flex;
	align-items: center;
	height: 100px;
}

.logout-mobile:hover{
	text-decoration: none;
}

.mobile-nav-icon-description{
	font-weight: 900;
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 20px;
	color: #000000;
	transition: all 0.4s ease;
}

#show-archived-memos-mobile{
	position: relative;
}

#show-archived-memos-mobile:after {
	content: attr(data-archivememos);
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background-color: #02af02;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}

@media screen and (max-width: 992px) {

	.logo__img{
		width: 150px;
		height: 46px;
	}

	.fas, .far {
		font-size: 25px;
	}

}

@media screen and (max-width: 750px) {

	#show-archived-memos{
		display: none;
	}

	#logout{
		display: none;
	}

	.burger-menu{
		display: block;
	}

	.logo__img{
		width: 125px;
		height: 38px;
	}



}

@media screen and (max-width: 550px) {

	.fas, .far {
		font-size: 20px;
	}

	#create-new-memo-modal, #go-to-main-page{
		margin-left: -25px;
	}
}

@media screen and (max-width: 450px) {

	.nav-icon-description{
		font-size: 14px;
	}
}



@media screen and (max-width: 380px) {

	#logo{
		display: none;
	}

	#create-new-memo-modal, #go-to-main-page{
		margin-left: 0;
	}

}

@media screen and (max-width: 300px) {

	.card{
		min-width: 8rem; 
		max-width: 18rem;
	}
	
}











