.registration-form{
	width: 600px;
}

.alert{
	width: 600px;
	margin: 0 auto;
}

.registration-button{
	width: 600px;
}

@media screen and (max-width: 800px){
	.registration-form, .registration-button, .alert{
		width: 400px;
	}
}

@media screen and (max-width: 450px){
	.registration-form, .messages{
		width: 80%;
		word-wrap: break-word;
	}
	
	.registration-button, .alert{
		width:100%;
	}
}